.print-table {
  width: 100%;
  border-collapse: collapse;
}

.print-table th,
.print-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.print-table th {
  text-align: left;
}

.print-table th:last-child {
  text-align: right;
}

.print-table td.text-right {
  text-align: right;
}

.print-table td.indent {
  padding-left: 24px;
}

.print-table td.font-semibold {
  font-weight: 600;
}

.print-table td.font-bold {
  font-weight: 700;
}
